/* START go to top */
#gotoTop {
    background-image: url(../images/arrow-up.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
    z-index: 999;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #cfe2f3;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 2px
}

body:not(.device-touch) #gotoTop {
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear
}

#gotoTop:hover {
    background-color: var(--text-white-color)
}

/* END go to top */